*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    margin: 50px;
    font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 display: flex;
 
}
.content{
    background:linear-gradient(#0000e6,#fff099);
    display: inline-flex;
    color:  #0000e6;
    padding: 30px;
    flex-wrap: wrap;
    border-radius:10px;
    max-width: 70%;
}

img{
    margin: 25px;
    width:150px;
    height:150px;
    position: 10px;
    border-radius: 10px;
    border: 2px solid #fff099;
    display: flex;
    

}
ul{
    list-style: none;
    margin-left: 20px;
    font-size:20px;
    padding:5px;
}
li{
    margin: 5px;
}
#bio{
  font-weight: 100; 
  font-size:17px;
  
}